h1 {
	font-style: italic;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 50px;
	font-weight: bold;
	font-variant: small-caps;
}

#div {
	text-align: center;
}

body {
	background-image:
		url("https://s-media-cache-ak0.pinimg.com/originals/4a/97/9c/4a979c8479048b5b3c97fb415778ddd0.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#san {
	text-align: center;
	font-style: italic;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 40px;
}